<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome, {{islogin.fn}}!</ion-title>
    <ion-buttons end>
      <button id="notification-button" ion-button clear (tap)="seeNotifications()">
        <ion-icon name="notifications" style="font-size: 20px; color: #fff">
          <ion-badge id="notifications-badge" color="danger">{{cartCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content overflow-scroll="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <canvas #doughnutCanvas height="300" width="300"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="cardSt">
      <ion-row>
        <ion-col width-50 (tap)="live()" style="border-right: 1px solid #2093d2; border-bottom: 1px solid #2093d2;">
          <div class="divS">
            <ion-icon class="iconS" name="pin" color="gpsc"></ion-icon>
            <br/> LIVE TRACKING
          </div>
        </ion-col>

        <ion-col width-50 (tap)="vehiclelist()" style="border-bottom: 1px solid #2093d2">
          <div class="divS">
            <ion-icon class="iconS" name="car" color="gpsc"></ion-icon>
            <br/> VEHICLES
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-50 (tap)="historyDevice()" style="border-right: 1px solid #2093d2;">

          <div class="divS">
            <ion-icon class="iconS" name="time" color="gpsc"></ion-icon>
            <br/> HISTORY
          </div>
        </ion-col>
        <ion-col width-50 (tap)="geofence()" class="colStyl">
          <div class="divS">
            <ion-icon class="iconS" name="disc" color="gpsc"></ion-icon>
            <br/> GEOFENCE
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>