<ion-header>
    <ion-navbar>
        <ion-title>Edit Customer Details</ion-title>
        <ion-buttons end>
            <button ion-button ion-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="updatecustForm">

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">User ID*</ion-label>
            <ion-input formControlName="userid" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatecustForm.controls.userid.valid && (updatecustForm.controls.userid.dirty || submitAttempt)">
            <p>user id is required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">First Name*</ion-label>
            <ion-input formControlName="first_name" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatecustForm.controls.first_name.valid && (updatecustForm.controls.first_name.dirty || submitAttempt)">
            <p>first name is required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Last Name*</ion-label>
            <ion-input formControlName="last_name" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatecustForm.controls.last_name.valid && (updatecustForm.controls.last_name.dirty || submitAttempt)">
            <p>last name is required!</p>
        </ion-item>


        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Email ID*</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatecustForm.controls.email.valid && (updatecustForm.controls.email.dirty || submitAttempt)">
            <p>email id is required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Mobile Number</ion-label>
            <ion-input formControlName="phone" type="number" maxlength="10" minlength="10"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatecustForm.controls.phone.valid && (updatecustForm.controls.phone.dirty || submitAttempt)">
            <p>mobile number is required and should be 10 digits!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Address</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatecustForm.controls.address.valid && (updatecustForm.controls.address.dirty || submitAttempt)">
            <p>address is required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Expire On</ion-label>
            <ion-input type="date" formControlName="date" min="{{minDate}}" style="margin-left: -3px;"></ion-input>
            <!-- <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" formControlName="date" style="margin-left: -7px;"></ion-datetime> -->
        </ion-item>
        
        <ion-item *ngIf="isSuperAdminStatus">
            <ion-label>Dealers</ion-label>
            <ion-select formControlName="dealer_firstname">
                <ion-option *ngFor="let dealer of getAllDealersData" [value]="dealer.dealer_firstname" (ionSelect)="DealerselectData(dealer)">{{dealer.dealer_firstname}}</ion-option>
            </ion-select>
        </ion-item>
    </form>
    <!-- <button ion-button block (click)="updateCustomer()">UPDATE DETAILS</button> -->
</ion-content>
<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row>
            <ion-col style="text-align: center;">
                <button ion-button clear color="light" (click)="updateCustomer()">UPDATE CUSTOMER DETAILS</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>