<ion-header>
    <ion-navbar>
        <ion-title>
            Edit Route Details
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="editrouteForm">
        <ion-item class="logitem">
            <ion-label>Source Name* </ion-label>
            <ion-input id="txtSource" formControlName="source" type="text" placeholder="Source Name* "></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!editrouteForm.controls.source.valid && (editrouteForm.controls.source.dirty || submitAttempt)">
            <p>source required!</p>
        </ion-item>

        <ion-item class="logitem">
            <ion-label>Destination Name* </ion-label>
            <ion-input id="txtDestination" formControlName="destination" type="text" placeholder="Destination Name* "></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!editrouteForm.controls.destination.valid && (editrouteForm.controls.destination.dirty || submitAttempt)">
            <p>Destination required!</p>
        </ion-item>

        <ion-item class="logitem">
            <ion-label>Route Name </ion-label>
            <ion-input formControlName="route" type="text" placeholder="Route Name  "></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!editrouteForm.controls.route.valid && (editrouteForm.controls.route.dirty || submitAttempt)">
            <p>route required!</p>
        </ion-item>
    </form>
    <div id="dvMap" style="width:100%; height:67%;"></div>
    <div id="dvPanel" style="width: 500px; height: 500px"></div>
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col width-50>
                <button ion-button block (click)="getRouteEdit()">
                    <ion-icon name="navigate"></ion-icon>&nbsp;&nbsp;Get Route</button>
            </ion-col>
            <ion-col width-50>
                <button ion-button block (click)="editRoute()">
                    <ion-icon name="create"></ion-icon>&nbsp;&nbsp;Update Route
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer> -->

<ion-footer class="footSty">

    <ion-toolbar>
        <ion-row no-padding>
            <ion-col width-50 style="border-right: 1px solid white; text-align: center;">
                <button ion-button clear color="light" (click)="getRouteEdit()">Get Route</button>
            </ion-col>
            <ion-col width-50 style="text-align: center;">
                <button ion-button clear color="light" (click)="editRoute()">Update Route</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>