page-about-us {
    .card {
        position: relative;
        text-align: center;
        img {
          -webkit-filter: blur(1.5px); /* Safari 6.0 - 9.0 */
          filter: blur(1.5px);
          // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          // filter: grayscale(100%);
        }
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }
}
