page-add-devices {
    .itemStyle {
        .item-ios,.item-md {
            padding: 0px !important;
        }
        .label-ios,.label-md {
          margin: 0px !important;
        }
        .item-ios.item-block .item-inner,.item-md.item-block .item-inner {
         padding: 0px !important;
         margin: 0px !important;
        }
        
    }

    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        padding-right: 0px;
        // border-bottom: 1px solid #dedede;
    }

   .ava{
         min-width: 0px; 
         min-height: 0px; 
       img {
           height: 22px;
           width: 30px;
       }
   }

   .colSt1{
        height:4.4rem;
        background-image: linear-gradient(to left bottom, #2093d2, #2ca0d8, #3cacdd, #4db9e2, #5fc5e6);
        padding: 0px;
        text-align: center;
        position:relative;
   }

   .colSt2{
        height:4.4rem; 
        width:80%; 
        padding: 0px;
   }

   .overme {
       padding-top:8px;
       padding-right: 2px;
        // padding: auto; 
        width: 180px;
        // height: 60px;
        // line-height: 30px;
        line-height: normal;
        overflow:hidden; 
        font-size: 10px;
        color: white;
        // background: #333;

        /*The problematic part is below*/
        white-space:nowrap; 
        text-overflow: ellipsis;
    }
    
    .overme {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
   
}
