page-signup {
    .btnDiv{
        padding-left: 15px;
        padding-right: 8px;
    }
    .signup-page {
        background: url('../assets/imgs/coverimg3.jpg');
        background-size: cover;
        opacity:0.8;
        background-position:right;
        
        .slogan {
            color: #556a78;
            font-weight: 400;
            line-height: 21px;
            margin: 50px auto;
            font-size: 15px;
            width: 88%;
            letter-spacing: 0.25px; 
        }
        .logo {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            width: 25%;
            height: 13%;
            margin: 25% auto 25px auto; 
        }
        .pseudo-link {
            color: #0185a2;
            font-size: 15px;
            text-decoration: none; 
        }

        .itemSty {
            background-color: transparent;

            ion-input {
                color: #fff;
                border-bottom: 1px solid #fff;
            }
        }
    }
}
